<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css'%}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abouy</title>   

</head>
<body>
    <div class="navbar">
        <div class="logo">
            <a href="">Text Utill</a>
        </div>
        <div class="navbtn">
          
                <!-- Home button -->
                <a href="{% url 'index' %}" class="">Home</a>
                <!-- Contact button -->
                <a href="{% url 'contact' %}" class="">Contact</a>
                <!-- About button -->
                <a href="{% url 'about_view' %}" class="">About</a>
        </div>
    </div>
    <p>
    Welcome to <del>CaseConverter.com,</del> a powerful free online tool that allows you <br> to easily convert
     text between different cases. Whether you need to convert your text to uppercase, lowercase, 
     title case, <b> sentence case</b>, or even camel case, <i> CaseConverter.com </i> has got you covered.</p>
    Our mission is to make text formatting easy and accessible for everyone, regardless of their technical expertise. With our user-friendly interface, you can simply copy and paste your 
    text into the converter and select the desired <hr> You can also choose to apply various options, 
    such as <strong> removing extra spaces or capitalizing</strong> the first letter of each word, to further
     customize <mark> your text.</mark>

     <div class="mid">
        Case Converter is a simple free online tool that converts any text to either lower case, upper case, proper case, or sentence case.
         </div>
</body>
</html>