<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css'%}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abouy</title>   
</head>
<body>
    <div class="page1">
        <div class="navbar">
            <div class="logo">
                <a href="">Text Utill</a>
            </div>
            <div class="navbtn">
                <!-- Home button -->
                <a href="{% url 'index' %}" class="">Home</a>
                <!-- Contact button -->
                <a href="{% url 'contact' %}" class="">Contact</a>
                <!-- About button -->
                <a href="{% url 'about_view' %}" class="">About</a>
            </div>
        </div>
  
</body>
</html>