
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'subs.css'%}">
    <meta charset="UTF-8">
    <title style="font-size: 2000px;">Analyzing Your Text...</title>
</head>
<body>
    <div class="navbar">
        <div class="logo">
            <a href="">Text Utill</a>
        </div>
        <div class="navbtn">
          
                <!-- Home button -->
                <a href="{% url 'index' %}" class="">Home</a>
                <!-- Contact button -->
                <a href="{% url 'contact' %}" class="">Contact</a>
                <!-- About button -->
                <a href="{% url 'about_view' %}" class="">About</a>
        </div>
    </div>
<h1 style="font-size: 150px;">Your Analyzed Text - {{ purpose }}</h1>
<br>
<br>
<br>

<p>
    <h2 style="font-size: 50px;">The total character:{{ analyzed_text }} </h2></pre>
    <pre style="font-size: 100px;">
   <div style="font-size: 100px;"> {{lineremover}}</div>
</p>
</body>
</html>
